<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>NEK UI</title>
<meta name="keywords" content="NEK,Regular,UI,JavaScript,Framework,MVC,MVVM">
<meta name="description" content="Regular UI">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="icon" href="<%= relativePath %>img/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="<%= relativePath %>img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="<%= relativePath %>css/doc.default.min.css">
</head>
<body>
<div class="g-top g-top-fixed">
    <div class="g-topc">
        <a class="u-logo" href="<%= relativePath %>index.html"><h1>NEK UI</h1></a>
        <ul class="m-navbar f-fr">
            <% mainnavs.forEach(function(item) { %>
            <% if(item.hidden) return; %>
            <li<% if(mainnav === item.lowerName) { %> class="z-crt"<% } %>><a href="<%= relativePath + item.path %>"><%= item.cnName %></a></li>
            <% }); %>
            <li id="j-themeSelect"></li>
        </ul>
    </div>
</div>
