<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.masonry ? ' j-masonry' : ''%>">
    <% if(page.masonry) { %>
         <style>
            @media all and (min-width: 1301px) {
              .grid-item{
                 width: 50%;
              }        
            }
             #grid-itemOuter:after{
                content: '';
                display: block;
                clear: both;
             }
             #grid-itemOuter .m-leftBlock,.m-rightBlock{
                width: 50%;
                float: left;
             }
         </style>
     <% } %>

    <h2 id="pageName"><%= page.title ? page.title : '' %> <span><%= page.name ? page.name : '' %></span> </h2>
    <%- page.content %>

    <div class="guide-links">
      <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
        <a href="<%- url_for(page.path) %>" class="pager">
            <span class="icon icon-left"></span><span><%- page.title %></span>
        </a>
      <% }) %>
        <span class="placeholder"></span>
      <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
        <a href="<%- url_for(page.path) %>" class="pager">
            <span><%- page.title %></span><span class="icon icon-right"></span>
        </a>
      <% }) %>
    </div>
    <div class="footer">
      想让文档更完善？
      <a href="https://github.com/kaola-fed/nek-ui" target="_blank">
        来 GitHub 提个 PR 吧！
      </a>
    </div>
     <% if(page.masonry) { %>
       <script>
        //用来处理实例代码块，将其分为两列
        if(window.screen.width > 1300){
        document.addEventListener('DOMContentLoaded', function() {
          var content = document.getElementsByClassName('content')[0];
          var position = document.getElementById('pageName').nextSibling;
          var gridOuter = document.createElement('div');
          gridOuter.id = 'grid-itemOuter';
          content.insertBefore(gridOuter,position);
          if(!!gridOuter){
            var leftBlock = document.createElement('div');
            var rightBlock = document.createElement('div');
            leftBlock.className = 'm-leftBlock';
            rightBlock.className = 'm-rightBlock';
            gridOuter.appendChild(leftBlock);
            gridOuter.appendChild(rightBlock);

            var itemList = document.getElementsByClassName('grid-item');
            var tempList = [];
            //获取每个grid-item的高度
            for(var i=0;i<itemList.length;i++){
                var temp = {
                  id: i,
                  height: itemList[i].clientHeight+2
                }
                tempList.push(temp);
                itemList[i].style.width = 'auto';
            }
            //高度从大到小排序
            tempList.sort(function(a,b){return b.height-a.height});
            //通过高度计算dom应该放置在左右那边
            var templeft = {
              height: 0,
              inner:[]
            };
            var tempright = {
              height: 0,
              inner: []
            };
            tempList.forEach(function(item){
              if(templeft.height <= tempright.height){
                templeft.inner.push(item);
                //加上元素高度及其marginTop
                templeft.height = templeft.height + item.height+ 20;
              }else{
                tempright.inner.push(item);
                tempright.height = tempright.height + item.height+ 20;
              }
            });
            //在左右各自内部将dom按照id从小到大排序
            templeft.inner.sort(function(a,b){return a.id-b.id});
            tempright.inner.sort(function(a,b){return a.id-b.id});
            if(tempright.inner[0].id == 0){
              var tempinner = tempright.inner;
              tempright.inner = templeft.inner;
              templeft.inner = tempinner;
            }
            //按照左右将grid-item列表分别放在左右两边
            var tempItemList = document.querySelectorAll('.grid-item');
            templeft.inner.forEach(function(item){
                leftBlock.appendChild(tempItemList[item.id]);
            });
            tempright.inner.forEach(function(item){
                rightBlock.appendChild(tempItemList[item.id]);
            }); 
          }
        });
        }
      </script>
     <% } %> 
     
</div>
