<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
        <ul class="menu-root">
            <% var pages = site.pages.find({type: type}).sort('order') %>
            <% var menus = [], currIdx = 0 %>
            <% pages.forEach(function(p, i) {
                // 无分类
                if (!p.cate) {
                    menus.push({
                        display: p.title + (p.name ? ' ' + p.name : ''),
                        title: p.title,
                        path: p.path
                    })
                } else if (p.cate !== pages.data[i - 1].cate) {
                    // 首个不同的，添加分类标题
                    currIdx = menus.length
                    menus.push({
                        display: p.cate,
                        children: [{
                            display: p.title + (p.name ? ' ' + p.name : ''),
                            title: p.title,
                            path: p.path
                        }]
                    })
                } else {
                    // 子列表
                    menus[currIdx].children.push({
                        display: p.title + (p.name ? ' ' + p.name : ''),
                        title: p.title,
                        path: p.path
                    })
                }
            }) %>

            <% menus.forEach(function(m) {
                var hadChild = m.children && m.children.length > 0;
                var isActive = hadChild
                        ? m.children.find(function(p) { return p.title === page.title })
                        : m.title === page.title
            %>
                <li class="<%- isActive ? 'current' : ''%>">
                    <div class="submenu-title">
                        <% if (!hadChild && m.path) { %>
                            <a href="<%- url_for(m.path) %>" class="<%- isActive ? 'current' : ''%>">
                                <%- m.display %>
                            </a>
                        <% } else {%>
                            <span class="u-icon u-icon-angle-down"></span><%- m.display %>
                        <% } %>
                    </div>
                    <% if (hadChild) { %>
                        <ul class="submenu">
                            <% m.children.forEach(function(p) { %>
                               <li>
                                   <a href="<%- url_for(p.path) %>" class="<%- p.title === page.title ? 'current' : ''%>">
                                       <%- p.display %>
                                   </a>
                               </li>
                            <% }) %>
                        </ul>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
