<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <%- page.content %>
    <div class="guide-links">
      <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
        <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
      <% }) %>
      <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
        <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
      <% }) %>
    </div>
    <div class="footer">
      想让文档更完善？
      <a href="https://github.com/kaola-fed/regUI" target="_blank">
        来 GitHub 提个 PR 吧！
      </a>
    </div>
</div>
