<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' - ' : '' %><%- theme.title %></title>
        <meta charset="utf-8">
        <meta name="description" content="<%- theme.site_description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' - ' : '' %><%- theme.title %>">
        <meta property="og:description" content="<%- theme.site_description %>">
        <meta property="og:image" content="https://<%- theme.root_domain %>/images/logo.png">

        <link rel="icon" href="/images/logo.png" type="image/x-icon">

        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono" rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Dosis:500&text=<%- theme.title %>" rel='stylesheet' type='text/css'>
        <!--  JR -->
        <link href="/css/JR.default.css" rel='stylesheet' type='text/css'>
        <!-- main page styles -->
        <%- css(isIndex ? 'css/index' : 'css/page') %>
        <script>window.PAGE_TYPE = "<%- page.type %>"</script>
    </head>
    <body class="<%- isIndex ? '' : 'docs' -%>">
        <script src="/vendor/regular.js"></script>
        <script src="/js/JR.js"></script>
        <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <%- partial('partials/header') %>
        <% if (!isIndex) { %>
            <div id="main" class="fix-sidebar">
                <%- body %>
            </div>
            <script src="/js/smooth-scroll.min.js"></script>
        <% } else { %>
            <%- body %>
        <% } %>

        <!-- main custom script for sidebars, version selects etc. -->
        <script src="/js/common.js"></script>
        <!-- ga -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '<%- theme.google_analytics %>', '<%- theme.root_domain %>');
          ga('send', 'pageview');
        </script>

        <!-- search -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/docsearch.js/1.4.4/docsearch.min.css" rel='stylesheet' type='text/css'>
        <%- css('css/search') %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/docsearch.js/1.4.4/docsearch.min.js"></script>
        <script>
        [
          '#search-query-nav',
          '#search-query-sidebar'
        ].forEach(function (selector) {
          if (!document.querySelector(selector)) return
          // search index defaults to v2
          var match = window.location.pathname.match(/^\/(v\d+)/)
          var version = match ? match[1] : 'v2'
          docsearch({
            appId: '34N72WTQ6D',
            apiKey: '365f3d88c244de5de6835c3f0f72b1ce',
            indexName: 'JR',
            inputSelector: selector,
            algoliaOptions: { facetFilters: ["version:" + version] }
          })
        })
        </script>

        <!-- fastclick -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body)
        }, false)
        </script>
    </body>
</html>
