<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li><a href="/rule/" class="nav-link<%- page.path.match(/rule/) ? ' current' : '' %>">规范</a></li>
<li><a href="/components/" class="nav-link<%- page.path.match(/components/) ? ' current' : '' %>">组件</a></li>
<li><a href="/scene/" class="nav-link<%- page.path.match(/scene/) ? ' current' : '' %>">场景</a></li>
<%- partial('partials/resources') %>