<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
        <ul class="menu-root">
            <% type !== 'api' && type !== 'router' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>

                <% if (type === 'components') { %>
                    <% if (fileName === 'installation') { %>
                      <li><h3>布局</h3></li>
                    <% } %>
                    <% if (fileName === 'ui-button') { %>
                      <li><h3>表单</h3></li>
                    <% } %>
                    <% if (fileName === 'migration') { %>
                      <li><h3>导航</h3></li>
                    <% } %>
                    <% if (fileName === 'comparison') { %>
                      <li><h3>通知</h3></li>
                    <% } %>
                    <% if (fileName === 'comparison') { %>
                      <li><h3>其它</h3></li>
                    <% } %>
                <% } %>
                <li>
                    <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
