<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
        <ul class="menu-root">
            <% site.pages.find({type: type}).sort('order').each(function (p) { %>
                <% if (type === 'components' && p.cate) { %>
                    <% if (p.order % 100 === 0) { %>
                      <li><h3><%- p.cate %></h3></li>
                    <% } %>
                <% } %>
                <li>
                    <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_beta ? ' beta' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
